.slider {

  &__item {
    position: relative;

    figure {
      float: right;
      display: flex;

      figcaption {
        padding: 105px 120px;
        max-width: 555px;
        background-color: #fff;

        .figcaption__inner {
          max-width: 310px;
          min-height: 515px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
        }
      }
    }
  }
}

.slick-arrow {
  padding: 21px 18px;
  border: 2px solid #00e558;
  cursor: pointer;

  position: absolute;
  z-index: 3;
}

.feature__slider-nextArrow {
  left: 215px;
  top: 292px;
}

.feature__slider-prevArrow {
  left: 215px;
  bottom: 292px;
}