.projects {

  &__info {

    &-text {
      max-width: 445px;
    }
  }

  &__content {
    margin-top: 135px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-item {
      height: 420px;

      a {
        height: 100%;
        position: relative;

        .projects__content--hover {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(#290a59, .8);
          opacity: 0;

          color: #fff;
          font-weight: 700;
          line-height: 23px;

          transition: opacity .7s ease;

          .projects__content-pretitle {
            color: #00e558;
            font-size: 20px;
            font-weight: 900;
            letter-spacing: 16px;
            text-transform: uppercase;
          }

          .projects__content-title {
            color: #ffffff;
            font-family: "Playfair Display", sans-serif;
            font-size: 40px;
            font-weight: 900;
            line-height: 45px;
          }

          .projects__content--hover-inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            border: 2px solid #00e558;

            padding: 130px 105px;
            margin: 50px;
          }
        }



        &:hover .projects__content--hover {
          opacity: 1;
        }

      }
    }
  }

}